body {
    font-family: "Lato", sans-serif;
}
p{
    color: #fff;
}
.sidenav {
    height: 92%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 12%;
     
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 20px;
    text-align:center;
}
#mySidenav2{
   background-color: #333351;
 
}
#mySidenav{
   background-color: #333351;
 
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;

}
#profile{
   height: 70%;
   /*color:#111;*/
   margin:10px 0px 0px 0px;
   background:rgba(255,255,255,0.2);
}
/*.imgcontainer {
    text-align: center;
    margin: 60px 0 12px 0;
    background-color: #333351;
}*/

/* Avatar image */


.sidenav a:hover{
    color: #f1f1f1;
}

/*.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: #333351;
}
*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 18px;}
}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    border-radius: 10px;

    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
#fontcode option:first-child{
  display: none;
}
#colorcode option:first-child{
  display: none;
} 
select{
    text-align: center;
  -webkit-appearance:none;
  border:1px solid white;
  border-radius:10px;
  text-align-last:center;
  position: relative;
  padding-right: 29px;
  outline:none;
  box-shadow: 0px 6px 10px rgba(44,62,80,0.5) inset;
      background-color: #333351;
    
    color: white;
    
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* Set a style for all buttons */
button{
    background-color: #333351;
    border-radius: 10px;
    color: white;
    
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover,select:hover {
    opacity: 0.8;
}

 

/* Center the avatar image inside this container */
.imgcontainer {
    text-align:center;
    margin: 5px 0px 0px 5px;
    display:block;
    width: 100%
    height:180px;
}

/* Avatar image */
img.avatar {
    width: 50%;
    height: 180px; 
    border-radius:5px;
     background-size: 100% 100%;
    border: 1px solid #333351;
    margin-top:15px;

}

/* Add padding to containers */
.container {
    padding: 16px;
}

.into-toggle-button{
 width:50%;   
 background-color: #333351;
 position: relative; 
}

 #san1img{
    position: absolute;
    vertical-align: none;
    left: 50%;
    top: 20%;
}
input[type='radio']{
  -webkit-appearance:none;
  width:38px;
  background-image: url('../svg/f.png');
  height:38px;
  border:1px solid white;
  border-radius:25%;
  outline:none;
  box-shadow: 0px 6px 10px rgba(44,62,80,0.5) inset;
}

.into-toggle-chatcolor-button{
  
  width: 35px;
  height: 35px;
  border:5px solid black; 
  border-radius: 70%;
}
#profileinfo{
    position: relative;
    margin-left: 130px;
    margin-top: -20px;
    font-size: 18px;
}

#magenta{
    background-color: #ff3385;
}
#tarquishe{
    background-color: #aeeeee;
}
#auburn{
    background-color: #A52A2A;
}
#pink{
    background-color: pink;
}
#green{
    background-color: #99ff66;
}
#white{
    background-color: #fff;
}
#skyblue{
    background-color: skyblue;
}
#yellow{
    background-color: yellow;
}
#yellowlemon{
    background-color: rgb(173, 255, 41);
}
#blueviolate{
background-color: #8A2BE2;
}
#darkmagenta{
 background-color: #8B008B;
}
#darkslateblue{
    background-color: #ff00ff;
} 
#default{
background-color:#333351;
}
.dropdown-content {
    
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background-color: #f9f9f9;
    padding:15px;
    width: 100%;
    

    display:none;
/*    min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
}